
html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {

    height: 100px;

    font-size: 6rem;
}

#loopButton {

    height: 40px;
    width: 130px;

    font-size: 1rem;
    font-weight: bolder;

    color: white;
    background-color: black;

    border-radius: 5px;

}